<div
  class="show-deck"
  id="deck-<%= current_deck.id %>"
>
  <div class="sort">sort:
    <%= link_to 'alpha', deck_path(current_deck, decksort: :alpha), class: deck_sort == 'alpha' ? 'active' : '' %>
    <%= link_to 'level', deck_path(current_deck, decksort: :level), class: deck_sort == 'level' ? 'active' : '' %>
    <%= link_to 'power', deck_path(current_deck, decksort: :power), class: deck_sort == 'power' ? 'active' : '' %>
    <span class="label"><%= link_to 'known', deck_path(current_deck, decksort: :knownpower), class: deck_sort == 'knownpower' ? 'active' : '' %></span>
    <%= link_to 'rarity', deck_path(current_deck, decksort: :rarity), class: deck_sort == 'rarity' ? 'active' : '' %>
    <span class="label">
      <%= link_to 'by power', deck_path(current_deck, decksort: :raritypower), class: deck_sort == 'raritypower' ? 'active' : '' %>,
      <%= link_to 'by known power', deck_path(current_deck, decksort: :raritypowerknown), class: deck_sort == 'raritypowerknown' ? 'active' : '' %>
    </span>
    <%= link_to 'offense', deck_path(current_deck, decksort: :offense), class: deck_sort == 'offense' ? 'active' : '' %>
    <span class="label"><%= link_to 'known', deck_path(current_deck, decksort: :knownoffense), class: deck_sort == 'knownoffense' ? 'active' : '' %></span>
    <%= link_to 'defense', deck_path(current_deck, decksort: :defense), class: deck_sort == 'defense' ? 'active' : '' %>
    <span class="label"><%= link_to 'known', deck_path(current_deck, decksort: :knowndefense), class: deck_sort == 'knowndefense' ? 'active' : '' %></span>
  </div>

  <% @sets.each do |set| %>
    <% info = set[:combos].first %>
    <div
      class="show-deck-card"
      id="deck-card-<%= info.deck_card_id %>"
    >
      <%= button_to "x", deck_deck_card_path(current_deck, info.deck_card_id), method: :delete, form_class: 'delete' %>
      <span class='deck-card badge <%= info.card_rarity %>'>
        <%= link_to info.card_name, card_path(info.card_id) %>
        <span class="card-level"><%= info.card_level %></span>
      </span>

      <span class="stats">
        <% if set[:known] == set[:total] %>
          <span class="badge complete"><%= set[:power] %> / <%= set[:total] %></span>
        <% else %>
          <span class="badge"><%= set["known_#{display_stat}".to_sym] %>/<%= set[display_stat] %> <%= set[:known] %>/<%= set[:total] %></span>
        <% end %>
      </span>

      <% set[:combos].sort_by{|c| [-c.power, -c.final_offense]}.each do |combo| %>
        <span
          class='deck-combo'
          title='<%= "#{combo.final_name} #{combo.final_level} (#{combo.match_name}, #{combo.final_offense} #{combo.final_defense}) #{combo.power}" %>'
        >
          <span class="<%= offense_class(combo) %>">
            <%= combo.final_offense %>
          </span>
          <span class="<%= defense_class(combo) %>">
            <%= combo.final_defense %>
          </span>
        </span>
      <% end %>
    </div>
  <% end %>
</div>
