<div class="sets">
  <% if @sets %>
    <span class="label">cards</span>
    <%= @sets.count %>
    <span class="label">power</span>
    <%= @all[:known_power] %>/<%= @all[:power] %>
    <span class="label">combos</span>
    <%= @all[:known] %>/<%= @all[:total] %>
  <% end %>
</div>

<ul id='side_nav' class='nav nav-pills nav-stacked'>
  <div class="user-info">
    <li>
      <span class="label">user</span>
      <% User.find_each do |user| %>
        <%= link_to user.username, cards_path(user_id: user.id), class: current_user.id == user.id ? 'active' : '' %>
      <% end %>
    </li>
    <li>
      <span class="label">deck</span>
      <%= link_to current_deck.name, deck_path(current_deck) %>
    </li>
  </div>

  <p class="sort">sort:
    <%= link_to 'deck', current_page_params.merge(sidesort: :deck), class: side_sort == 'deck' ? 'active' : '' %>
    <%= link_to 'alpha', current_page_params.merge(sidesort: :alpha), class: side_sort == 'alpha' ? 'active' : '' %>
    <%= link_to 'rarity', current_page_params.merge(sidesort: :rarity), class: side_sort == 'rarity' ? 'active' : '' %>
    <%= link_to 'power', current_page_params.merge(sidesort: :power), class: side_sort == 'power' ? 'active' : '' %>
  </p>
  <p class="sort">
    <%= link_to 'known', current_page_params.merge(sidesort: :known), class: side_sort == 'known' ? 'active' : '' %>
    <%= link_to 'unknown', current_page_params.merge(sidesort: :unknown), class: side_sort == 'unknown' ? 'active' : '' %>
  </p>

  <% current_user.combo_cards(deck_id: current_deck.id, sort: order_by_param).each do |card| %>
    <li class="<%= side_nav_card_class(card) %>">
      <span class="id"><%= card.id %></span>
      <span class="card-count"><%= card.deck_card_count %></span>
      <%= link_to card.display_name, card_path(card) %>
      <span class="id"><%= card.potential_deck_power %></span>

      <% if card.unknown_combo_count > 0 %>
        <span class="combo-count">(<%= card.unknown_combo_count %>)</span>
      <% end %>

      <% (2..5).each do |i| %>
        <%= button_to i, deck_deck_cards_path(current_deck.id), form_class: 'add_deck_card', params: { card_id: card.id, level: i, fused: true, rarity: card.rarity } %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'more', cards_path %>
